@model Users

<!-- Page content -->
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <!-- Card -->
            <div class="card shadow">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4" style="text-align:center">
                        <a><img src="https://marketingworks.vn/storage/logo_company/1646232924.jpg" class="mb-8" alt="" /></a>
                        <h1 class="mb-1 fw-bold" style="text-align:center">Forgot Password</h1>
                    </div>
                    <!-- Form -->
                    <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label asp-for="@Model.Email" class="form-label"> Email</label>
                            <input type="text" asp-for="Email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="d-flex gap-4 col-6 mx-auto">
                                <a asp-action="Login" asp-controller="Account" class="btn btn-l btn-success ">
                                    Back To Login
                                </a>
                                <button class="btn btn-xl btn-danger" type="submit" onclick="checkyourmessage()">Save</button>
                    
                            </div>

                        </div>
                        <hr class="my-4" />
                        <div class=" text-center">
                            <!--Facebook-->
                            <a href="#" class="btn-social btn-social-outline btn-facebook">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <!--Twitter-->
                            <a href="#" class="btn-social btn-social-outline btn-twitter">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <!--LinkedIn-->
                            <a href="#" class="btn-social btn-social-outline btn-linkedin">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <!--GitHub-->
                            <a href="#" class="btn-social btn-social-outline btn-github">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <!--GitHub-->
                            <a href="#" class="btn-social btn-social-outline btn-heart">
                                <i class="fa-brands fa-heart"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        function checkyourmessage() {
            alert("Mật khẩu mới đã được gửi vào tin nhắn . Vui lòng đợi trong giây lát!");
        }
    </script>
}